<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{base::layout(~{::body},~{::title})}">
<head>
<meta charset="UTF-8">
<title>Add New Admin Page</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-5">
			<div class="row">

				<div class="col-md-7 p-2 offset-md-2">
					<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-header text-center">
							<p class="fs-4 text-center">Add Admin</p>
							<th:block th:if="${session.succMsg}">
								<p class="alert alert-success text-center">[[${session.succMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}">
								<p class="alert alert-danger text-center">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
						</div>
						<div class="card-body">
							<form action="/admin/save-admin" enctype="multipart/form-data"
								method="post">
								<div class="row">
									<div class="col">
										<label class="form-label">Full Name</label> <input type="text"
											name="name" placeholder="Enter your FullName"
											pattern="[A-Z a-z]{1,}" maxlength="30"
											title="Could not contain any number and symbol"
											required="required" class="form-control">
									</div>

									<div class="col">
										<label class="form-label">Mobile Number</label> <input
											type="text" pattern="[0-9]{10}" maxlength="10"
											placeholder="Enter your Mobileno." required="required"
											name="mobileNumber" class="form-control">
									</div>

								</div>

								<div class="mb-3">
									<label class="form-label">Email</label> <input type="email"
										name="email" placeholder="Enter your Email"
										oninput="this.value = this.value.replace(/\s/g, '')"
										pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
										title="Example = strangeplay12@gmail.com" required="required"
										class="form-control">
								</div>


								<div class="row">
									<div class="col">
										<label class="form-label">Permanent Address</label> <input
											required maxlength="200"
											placeholder="Enter your Permanent Address"
											class="form-control" name="address" type="text">
									</div>

									<div class="col">
										<label class="form-label">City</label> <input required
											placeholder="Enter your City Name" maxlength="50"
											class="form-control" name="city" type="text">
									</div>

								</div>



								<div class="row">
									<div class="col">
										<label class="form-label">Password</label> <input
											placeholder="Enter your Password" id="password"
											type="password" name="password"
											pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="25"
											title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
											required="required" class="form-control"
											oninput="this.value = this.value.replace(/\s/g, '')">
										<input type="checkbox" onclick="myFunction()"> Show
										Password
									</div>
									<div class="col">
										<label class="form-label">Confirm Password</label> <input
											required class="form-control" name="confirmpassword"
											placeholder="Confirm your Password" type="password"
											id="confirmPassword"
											oninput="this.value = this.value.replace(/\s/g, ''); this.setCustomValidity(this.value != document.getElementById('password').value ? 'Passwords do not match.' : '')">
									</div>
								</div>
								<div class="mb-3">
									<label class="form-label">Profile Image</label> <input
										class="form-control" name="img" type="file">
								</div>
								<button type="submit"
									class="btn btn-outline-dark col-md-12">Register</button>
							</form>
						</div>


					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>