<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:fragment="layout(content,title,cssFile)">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title data-th-replace="${title}"></title>
<!-- for dynamic css page -->
<!-- Page-specific CSS -->
<link rel="stylesheet" th:href="@{${cssFile}}" />

</head>
<body>
	<!--  Start Navbar-->
	<th:block th:replace="~{navbar :: navbar}"></th:block>
	<!--  End Navbar-->

	<!-- Start All content from here -->
	<th:block th:replace=${content}></th:block>
	<!-- End All content here -->

	<!-- Start Footer -->
	<th:block th:replace="~{footer :: footer}"></th:block>
	<!-- End Footer  -->

	<!-- Jquery Validation Library  -->
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/learn.js"></script>
	<script type="text/javascript" src="js/personalized.js"></script>
	<!-- End  -->

</body>
</html>