<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:fragment="footer">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/navbar.css" />
</head>
<body>
<!-- Start Footer -->
	<footer class="footer1">
		<div class="footer-container1">
			<div class="footer-section1 about">
				<h4 class="h4part1">About PlayPal</h4>
				<p class="ppart1">Your go-to app for seamless interactions, payments, and
					enjoyable experiences. Join our community and elevate your gaming
					adventures!</p>
			</div>
			<div class="footer-section1 links">
				<h4 class="h4part1">Quick Links</h4>
				<ul>
					<li><a class="apart1" href="/">Home</a></li>
					<li><a class="apart1" href="#">Features</a></li>
					<li><a class="apart1" href="/contactus">Contact Us</a></li>
				</ul>
			</div>
			<div class="footer-section1 contact">
				<h4 class="h4part1">Contact Us</h4>
				<p class="ppart1">Email: support@playpal.com</p>
				<p class="ppart1">Phone: +1 234 567 890</p>
				<p class="ppart1">Follow us on:</p>
				<div class="socials">
					<a class="apart1" href="#">Facebook</a> <a class="apart1" href="#">Twitter</a> <a class="apart1" href="#">Instagram</a>
				</div>
			</div>
		</div>
		<div class="footer-bottom1">
			<p class="ppart1">&copy; 2024 PlayPal. All rights reserved.</p>
		</div>
	</footer>
	<!-- End Footer  -->
</body>
</html>