<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{base::layout(~{::body},~{::title},'/css/auth.css')}">
<head>
<meta charset="UTF-8">
<title>Login Page</title>
</head>
<body>
	<div class="auth-container">
		<img src="path/to/your/logo.png" alt="PlayPal Logo" class="logo">
		<div class="auth-box">
			<h2>Login to PlayPal</h2>

			<div th:if="${param.error}" class="alert alert-danger text-center">
				<th:block th:if="${session.SPRING_SECURITY_LAST_EXCEPTION!=null}">
									[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
								</th:block>
			</div>

			<div th:if="${param.success}">
				<p class="alert alert-success text-center">[[${param.success}]]</p>
			</div>


			<div th:if="${session.errorMsg}"
				class="alert alert-danger text-center">
				<p th:text="${session.errorMsg}"></p>
				<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
			</div>


			<div th:if="${param.logout}" class="alert alert-success text-center">You
				are Logged out!</div>



			<!-- this login link will be go to the security config page -->
			<form action="/login" method="post">
				<div class="input-group">
					<label>Email</label> <input placeholder="Enter your Email"
						name="username" type="email"
						oninput="this.value = this.value.replace(/\s/g, '')"
						pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
						title="Example = strangeplay12@gmail.com" required="required">
				</div>

				<div class="input-group">
					<label>Password</label> <input placeholder="Enter your Password"
						id="password" type="password" name="password"
						pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="25"
						title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
						required="required"
						oninput="this.value = this.value.replace(/\s/g, '')">
					<div>
						<input type="checkbox" onclick="myFunction()"> Show
						Password
					</div>
				</div>

				<div class="input-group">
					<button type="submit" class="btn">Login</button>
				</div>

				<div class="forgot-password">
					<a href="/forgot-password">Forgot your Password?</a>
				</div>

				<div class="signup-link">
					<p>
						Don't have an account? <a href="/register">Create one</a>
					</p>
				</div>
			</form>


		</div>
	</div>





</body>
</html>