<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{base::layout(~{::body},~{::title},'/css/auth.css')}">
<head>
<meta charset="UTF-8">
<title>Sign Up | PlayPal</title>
</head>
<body>
	<div class="auth-container">
		<img src="path/to/your/logo.png" alt="PlayPal Logo" class="logo">
		<div class="auth-box">
			<h2>Create Your PlayPal Account</h2>

			<th:block th:if="${session.succMsg}">
				<p class="alert alert-success text-center">[[${session.succMsg}]]</p>
				<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
			</th:block>

			<th:block th:if="${session.errorMsg}">
				<p class="alert alert-danger text-center">[[${session.errorMsg}]]</p>
				<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
			</th:block>


			<form action="/saveUser" enctype="multipart/form-data" method="post">
				<div class="input-group">
					<label>FullName</label> <input type="text" name="name"
						placeholder="Enter your FullName" pattern="[A-Z a-z]{1,}"
						maxlength="100" title="Could not contain any number and symbol"
						required="required">
				</div>

				<div class="input-group">
					<label>Mobile Number</label> <input type="text" pattern="[0-9]{10}"
						maxlength="10" placeholder="Enter your Mobileno."
						required="required" name="mobileNumber">
				</div>

				<div class="input-group">
					<label>Email</label> <input type="email" name="email"
						placeholder="Enter your Email"
						oninput="this.value = this.value.replace(/\s/g, '')"
						pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
						title="Example = strangeplay12@gmail.com" required="required">
				</div>

				<div class="input-group">
					<label>Permanent Address</label> <input required maxlength="200"
						placeholder="Enter your Permanent Address" name="address"
						type="text">
				</div>

				<div class="input-group">
					<label>City</label> <input required
						placeholder="Enter your City Name" maxlength="50" name="city"
						type="text">
				</div>

				<div class="input-group">
					<label>Password</label> <input placeholder="Enter your Password"
						id="password" type="password" name="password"
						pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="25"
						title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
						required="required"
						oninput="this.value = this.value.replace(/\s/g, '')"> <input
						type="checkbox" onclick="myFunction()"> Show Password
				</div>

				<div class="input-group">
					<label>Confirm Password</label> <input required
						name="confirmpassword" placeholder="Confirm your Password"
						type="password" id="confirmPassword"
						oninput="this.value = this.value.replace(/\s/g, ''); this.setCustomValidity(this.value != document.getElementById('password').value ? 'Passwords do not match.' : '')">
				</div>
				

				<div class="input-group">
					<label>Profile Image</label> <input required="required" name="img"
						type="file">
				</div>

				<div class="input-group">
					<button type="submit" class="btn">SignUp</button>
				</div>

				<div class="login-link">
					<p>
						Already have an account?
						 <a href="/signin">Login</a>
					</p>
				</div>

			</form>
		</div>

	</div>

</body>
</html>